:root {
    /* colors */
    --clr-dark: #030714;
    --clr-grey: #4c585b;
    --clr-emerald: #17524e;
    --clr-teal: #00786f;
    --clr-seaGreen: #8eb1a5;
    --clr-cream: #f9f8d6;
    --clr-light: #F3F3E0;
    --clr-active: #e3de52;
    --clr-casual-leave: #a7f3d0;
    --clr-earned-leave: #fde68a;
    --clr-emergency-leave: #f472b6;
    --clr-maternity-leave: #86efac;
    --clr-paternity-leave: #67e8f9; 
    --clr-sick-leave: #e0f2fe; 

    /* sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}

* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'General Sans', sans-serif;
    background-color: var(--clr-light); 
    color: var(--clr-dark);
    overflow-x: hidden;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;   
}


/*Scroll Bar*/
.dashboard::-webkit-scrollbar {
  width: 8px;
}

.dashboard::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}

.dashboard::-webkit-scrollbar-thumb {
  background-color: var(--clr-emerald);
  outline: 1px solid var(--clr-emerald);
}